# Copyright 2018 The OpenPitrix Authors. All rights reserved.
# Use of this source code is governed by a Apache license
# that can be found in the LICENSE file.

language: go

go:
- '1.11'
- 'tip'

go_import_path: openpitrix.io/iam

script:
- env GO111MODULE=on go test ./...
- env GO111MODULE=on go vet ./...
